* {
  font-family: "PT Sans", sans-serif;
}

section * {
  font-family: "PT Serif", serif;
  margin-top: 1.75em;
}
section h1, section h2, section h3, section h4, section h5, section h6, section .btn {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  margin: 1.75em 0;
}
section h1:first-child {
  margin-top: 0;
}

/* Mixins */
body {
  font-size: 1.25rem;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.primary {
  color: #2050d9;
}

.secondary {
  color: #ff005a;
}

[class^=fa] {
  color: #18003c;
}

* {
  line-height: 1.5em;
}

body {
  background: #e8edfb;
  border-radius: 40px;
  margin: 0 auto 40px auto;
  max-width: 800px;
  transition: all 0.5s cubic-bezier(0.79, 0.39, 0, 0.8);
}

body.dark {
  background: #00081a;
  color: #dbe3fa;
  transition: all 0.5s cubic-bezier(0.79, 0.39, 0, 0.8);
}
body.dark .primary {
  color: #ae9bff;
}
body.dark [class^=fa] {
  color: #fff;
}

a {
  color: #2050d9;
  text-decoration: none;
}

body.dark a {
  color: #ae9bff;
}
body.dark a.active {
  color: #ae9bff !important;
}
body.dark a:hover {
  color: #fff;
}

.dark .header-bg {
  background: none;
}

.header-bg {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120px;
  z-index: 9998;
  box-shadow: 0px 8px 50px -50px black;
}

.dark .header-wrapper header nav {
  background: #020b24;
  border: 2px solid rgba(255, 255, 255, 0.025);
}

.header-wrapper {
  z-index: 9999;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  margin-bottom: -100px;
  background: #fff;
}
@media (min-width: 768px) {
  .header-wrapper {
    position: fixed;
    margin-bottom: 0;
    background: transparent;
  }
}
.header-wrapper header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .header-wrapper header {
    flex-flow: row;
  }
}
.header-wrapper header nav {
  padding: 15px 10px;
  background: #e8edfb;
  border: 2px solid transparent;
  border-radius: 15px;
  width: calc(100% - 30px);
  margin-right: 0;
}
@media (min-width: 576px) {
  .header-wrapper header nav {
    width: unset;
    margin-right: 15px;
  }
}
.header-wrapper header nav ul {
  display: block;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 576px) {
  .header-wrapper header nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-flow: row;
  }
}
@media (min-width: 768px) {
  .header-wrapper header nav ul {
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.header-wrapper header nav ul li a {
  display: block;
  border-radius: 8px;
  text-decoration: none !important;
}
@media (min-width: 576px) {
  .header-wrapper header nav ul li a {
    display: initial;
    padding: 5px 8px;
  }
}
.header-wrapper header nav ul li a.active {
  background: rgba(32, 80, 217, 0.1);
  color: #2050d9;
}
.header-wrapper header nav ul li a:hover, .header-wrapper header nav ul li a:focus, .header-wrapper header nav ul li a:hover i, .header-wrapper header nav ul li a:focus i {
  background: #2050d9;
  color: #fff;
}

.intro {
  display: block;
  text-align: center;
}

.dark section {
  background: #020b24;
  border-color: rgba(255, 255, 255, 0.025);
}

section {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #e8edfb;
  box-shadow: 0px 0px 24px -20px #0050d9;
  position: relative;
  max-width: 1100px;
  margin: 0 auto 30px auto;
}
section ul {
  padding-left: 20px;
}
section ul.line-height-2x li {
  margin-bottom: 20px;
}
section p:last-child {
  margin: 0;
}

button.dark-mode {
  bottom: 5px;
  right: 5px;
}

button.contact-mode {
  bottom: 60px;
  right: 5px;
}
button.contact-mode i {
  color: #fff !important;
  position: relative;
  left: -2px;
}

button.fixed {
  position: fixed;
  background: #18003c;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  border: 2px solid #fff;
  cursor: pointer;
}

.logo {
  width: 100%;
  max-width: 150px;
  margin-left: 20px;
}

.anim {
  transition: all 0.27s cubic-bezier(0.75, 0.24, 0, 2.1);
}
.anim:hover, .anim:focus {
  transform: scale(1.05);
}
.anim.intro:hover, .anim.intro:focus {
  transform: scale(1.1);
}

main {
  transition: all 0.8s;
  transform: translateY(50vh);
  opacity: 0;
  margin-top: 150px;
}
main.loaded {
  opacity: 1;
  transform: translateY(0);
}

ul.boxed {
  padding-left: 0;
}
ul.boxed li {
  padding: 20px;
  list-style: none;
  background: #2050d9;
  color: #fff;
  border-radius: 20px;
}

.work-status {
  cursor: pointer;
}

footer {
  padding: 40px;
}
@media (min-width: 576px) {
  footer {
    padding: 40px 60px;
  }
}
footer p {
  margin-bottom: 0;
  text-align: center;
}

.toast {
  width: 300px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.toast .toast-title {
  margin-right: 20px !important;
  color: #2050d9;
  width: 85%;
}
.toast .timestamp {
  width: 8%;
}
.toast .close {
  width: 7%;
}

.dark .modal .modal-header, .dark .modal .modal-body {
  background: #00081a;
  color: #fff;
}

.modal {
  top: 10px;
}
.modal .modal-content {
  border-radius: 20px;
}
.modal .modal-header {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  font-size: 2em;
  color: #fff;
}
.modal .modal-body {
  padding: 0;
}
.modal .modal-dialog {
  max-width: 900px;
}
.modal .close {
  position: relative;
  top: 20px;
  left: 10px;
}
.modal .close-btn {
  line-height: 1em;
}

body.dark ul a {
  color: #dbe3fa;
}

body.dark .toast-header {
  background: #263341;
  color: #fff;
}
body.dark .toast {
  background: #374a5d;
}
body.dark .toast-title {
  color: #ae9bff;
}
body.dark .close span {
  color: #dbe3fa;
}

#resume {
  height: 90vh;
}

.testimonials {
  cursor: grab;
}
.testimonials.owl-grab {
  cursor: grabbing !important;
}
@media (min-width: 576px) {
  .testimonials:before, .testimonials:after {
    width: 60px;
    height: 100%;
    display: block;
    position: absolute;
    content: "";
    z-index: 50;
  }
  .testimonials:after {
    top: 0;
    right: 0;
  }
}

body.dark .testimonial:after {
  color: #ae9bff;
}

.testimonial {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  text-indent: 30px;
}
.testimonial:after {
  content: '"';
  color: #2050d9;
  position: absolute;
  font-size: 5em;
  top: 20px;
  left: -35px;
}
.testimonial .name {
  font-style: italic;
  margin-top: 15px;
  width: 100%;
  text-align: right;
}
.testimonial .optional {
  width: 100%;
  text-align: right;
}

.space {
  margin-top: 80px;
}

.blocks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  width: 100%;
}
@media (min-width: 576px) {
  .blocks {
    flex-flow: row;
  }
}
.blocks .block {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 175px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 0;
  border-radius: 20px;
}
@media (min-width: 576px) {
  .blocks .block {
    flex-flow: row;
    width: calc(33.33% - 10px);
    margin-right: 10px;
  }
  .blocks .block:last-child {
    margin-right: 0;
  }
}
.blocks .block img {
  width: calc(100% - 40px);
}
.blocks .block img.white {
  filter: brightness(100);
}

[class^=alert-content] {
  display: none;
}

.modal .mobile-wrapper {
  text-align: center;
  background: #00081a;
  border-radius: 0 0 18px 18px;
}
.modal .mobile-wrapper img {
  width: 33.33%;
  margin: 20px;
  border-radius: 18px;
  box-shadow: 0px 0px 50px -30px #2050d9;
}
.modal img {
  width: 100%;
  border-radius: 0 0 18px 18px;
}
.modal p {
  margin: 0;
}
.modal ul li:first-child, .modal ul li:first-child a {
  border-radius: 18px 0 0 0;
}
.modal ul li:last-child, .modal ul li:last-child a {
  border-radius: 0 18px 0 0;
}

[role=tablist] {
  transition: all 0.4s ease-in-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 0 !important;
}
[role=tablist] li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 50%;
  background: #00081a;
  font-size: 1.5em;
  border: 0;
}
[role=tablist] li a {
  width: 100%;
  text-align: center;
  border-radius: 0;
}
[role=tablist] li i {
  color: #fff;
}
[role=tablist] [role=tab] {
  margin: 0;
  border: 0 !important;
}
[role=tablist] [role=tab][aria-selected=true] {
  background: #2050d9;
  border: 0;
}
[role=tablist] [role=tab]:hover:not([aria-selected=true]) {
  background: #000717;
  border: 0;
}

.basic.modal p, .basic.modal form {
  padding: 20px;
}

.card {
  background: linear-gradient(60deg, #161e27, #111e42);
  color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}
.card .card-header {
  background: #fff;
  border-bottom: 0;
  border-radius: 20px;
}
.card .card-header h3 {
  margin-left: 0;
}
.card .card-header h3 button {
  padding-left: 0;
  width: 100%;
  text-align: left;
}
.card a, .card button, .card button:focus, .card button:hover {
  color: #2050d9;
}

.dark .card, .dark .card .card-header {
  background: #00081a;
  color: #fff;
}
.dark .card a, .dark .card button, .dark .card button:focus, .dark .card button:hover, .dark .card .card-header a, .dark .card .card-header button, .dark .card .card-header button:focus, .dark .card .card-header button:hover {
  color: #ae9bff;
}

.btn.btn-primary {
  background: #2050d9;
  border-color: #2050d9;
  border-radius: 8px;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: #183ca3;
}

.interests {
  justify-content: center;
}

.interests > * {
  width: unset;
}

.icon-links {
  margin: 0 20px;
  white-space: nowrap;
}

.dark .svg-icon.cssbattle {
  background: url("/images/svgs/cssbattle-white.svg");
}

.svg-icon {
  display: inline-block;
}
.svg-icon.cssbattle {
  width: 26px;
  height: 15px;
  background: url("/images/svgs/cssbattle.svg");
  margin-bottom: -2px;
}

.post img.post-img {
  width: 100%;
}
.post pre {
  letter-spacing: 0.85px;
  word-spacing: 2px;
  line-height: 2em;
  padding: 30px;
  background: #212529;
  color: #ae9bff;
}
.post pre code {
  font-family: "JetBrains Mono", monospace;
}

/*# sourceMappingURL=styles.css.map */
