//- <footer class="row row-cols-5 pt-5">
//-       <div class="col-12 col-sm-12 col-md-5">
//-         <a href="/" class="d-flex align-items-center flex-column mb-3 link-dark text-decoration-none">
//-             <div class="col-6 col-sm-4 col-md-6 col-lg-4"><img src="/images/logo-splash-transparent.png" class="img-fluid" /></div>
//-             <p class="text-muted">We're a Boise Idaho based web design and development agency that helps companys grow by delivering better web experiences.</p>
//-         </a>
//-       </div>
  
//-       <div class="col-12 col-sm-0 col-md-1">
  
//-       </div>
  
//-       <div class="col-6 col-sm-4 col-md-2">
//-         <h5>Arcane</h5>
//-         <ul class="nav flex-column">
//-           <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
//-           <li class="nav-item mb-2"><a href="/services" class="nav-link p-0 text-muted">Web Design and Hosting</a></li>
//-           <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-muted">Pricing</a></li>
//-           <li class="nav-item mb-2"><a href="/getting-started" class="nav-link p-0 text-muted">Getting Started</a></li>
//-         </ul>
//-       </div>
  
//-       <div class="col-6 col-sm-4 col-md-2">
//-         <h5>Clients</h5>
//-         <ul class="nav flex-column">
//-           <li class="nav-item mb-2"><a href="/login" class="nav-link p-0 text-muted">Login</a></li>
//-           <li class="nav-item mb-2"><a href="/getting-started" class="nav-link p-0 text-muted">Become A Client</a></li>
//-         </ul>
//-       </div>

//-       <div class="col-12 col-sm-4 col-md-2 mt-4 mt-sm-0">
//-         <div class="line-space"></div>
//-         <ul class="nav flex-column">
//-           <li class="nav-item mb-2"><a href="/privacy-policy" class="nav-link p-0 text-muted">Privacy Policy</a></li>
//-           <li class="nav-item mb-2"><a href="/terms-of-service" class="nav-link p-0 text-muted">Terms of Service</a></li>
//-           <li class="nav-item mb-2"><a href="/accessibility-statement" class="nav-link p-0 text-muted">Accessibility Statement</a></li>
//-           <li class="nav-item mb-2"><a href="/sitemap" class="nav-link p-0 text-muted">Sitemap</a></li>
//-         </ul>
//-       </div>

//-       <div class="col-12 my-5">
//-         <p class="text-muted">Arcane Web Design © 2022</p>
//-       </div>
      
//-     </footer>












footer
	if (forked)
		p Open Source #[i.fas.fa-heart #[span.sr-only Heart]] - Forked from #[a(href="https://github.com/nickolasjadams/portfolio2020" target="_blank" rel="noopener") Github]
	else
		p Developed by Nick Adams. 
		p Need a portfolio? #[a(href="https://github.com/nickolasjadams/portfolio2020" target="_blank" rel="noopener") Fork from Github]!
		p Hosted with #[i.fab.fa-aws #[span.sr-only Amazon Web Services]]