extends partials/_layout.pug

block meta


	+seo(
	/* Title */
	"Nick Adams | Web and Software Contractor", 
	/* Description */
	"Need a professional website or application? SEO, Accessibility, or hosting? Let's solve your problems together! ",
	/* Keywords */
	"Nick Adams, Contractor, Freelance, Website, web application, design, PHP, Python, Bash, HTML, CSS, Javascript")

block css
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	script.
		function onSubmit(token) {
			document.getElementById("contact-form").submit();
		}
	style.
		.grecaptcha-badge { top: 15px; }

block content
	h1 If you're looking for
	
	p
		ul(style="padding: 20px 20px 20px 40px; background: #6c4dee; color: #fff; border-radius: 20px;")
			li A Professional Website or Web Application
			li Search Engine Optimization 
			li Web Accessibility
			li Hosting 
			li Advice on any of the above

	h2 Then you need an expert

	hr

	p As a young teen with a poor mindset, I lacked the confidence to believe I could do well in subjects like Math and Programming. I opted for design.

	p Later I smashed this perspective. And the resulting blend of web design and programming is exceptional. 

	p So reach out! 

	p If you have any projects, ideas, or questions, then let's partner up!

	form#contact-form
		.form-group
			label Name:
			<input type="text" id="name-input" placeholder="Name..." class="form-control" />
		.form-group
			label Phone:
			<input type="phone" id="phone-input" placeholder="Phone..." class="form-control" />
		.form-group
			label Email:
			<input type="email" id="email-input" placeholder="Email..." class="form-control" />
		.form-group
			label Message:
			<textarea id="description-input" rows="3" placeholder="Message…" class="form-control" ></textarea>
		.form-group 
			label Do me favor.  How many apples do you see? 
			<span id="apples" style="margin-left: 5px;"></span>
			<input type="text" id="countingSkills" class="form-control" />
			input(type="hidden" id="countingSkillsInput" value="No Count")

		<button onClick="submitToAPI(event)" class="btn btn-primary">Submit</button>

block scripts
	<div class="g-recaptcha" data-sitekey="6LcIzP4aAAAAAL6RHkZECMi6E68VD0AHKQuh3RXa" data-callback="onSubmit" data-size="invisible"></div>
	script.
		function apples() {
			let total1 = Math.floor(Math.random() * 5) + 1;
			let total2 = Math.floor(Math.random() * 5) + 1;
			let red = "&#x1F34E;";
			let green = "&#x1F34F;";
			let str = "";
			for (let i = 0; i < total1 + total2; i++) {
				if (i < total1) {
					str += red + " "
				} else {
					str += green + " "
				}
			}
			document.querySelector("#apples").innerHTML = str;
			var appleAnswer = document.querySelector("#countingSkills");
			appleAnswer.addEventListener("keyup", function() {
				if (appleAnswer.value == (total1 + total2)) {
					document.querySelector("#countingSkillsInput").value = "Good Count";
				} else {
					document.querySelector("#countingSkillsInput").value = "Bad Count";
				}
			})
		}
		apples();
		function submitToAPI(e) {
			e.preventDefault();
			var URL = "https://tqg9fq00ef.execute-api.us-west-2.amazonaws.com/002/contract-mail";

			var Namere = /[A-Za-z]{1}[A-Za-z]/;
			if (!Namere.test($("#name-input").val())) {
				alert ("Name can not less than 2 char");
				return;
			}
			var mobilere = /[0-9]{10}/;
			if (!mobilere.test($("#phone-input").val())) {
				alert ("Please enter valid mobile number");
				return;
			}
			if ($("#email-input").val()=="") {
				alert ("Please enter your email id");
				return;
			}

			var reeamil = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/;
			if (!reeamil.test($("#email-input").val())) {
				alert ("Please enter valid email address");
				return;
			}

			var name = $("#name-input").val();
			var phone = $("#phone-input").val();
			var email = $("#email-input").val();
			var desc = $("#description-input").val();
			var data = {
				name : name,
				phone : phone,
				email : email,
				desc : desc,
				countingSkills : document.querySelector("#countingSkillsInput").value
			};

			$.ajax({
				type: "POST",
				url : URL,
				dataType: "json",
				crossDomain: "true",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify(data),

				success: function () {
				// clear form and show a success message
					alert("Message Sent");
					document.getElementById("contact-form").reset();
					location.reload();
				},
				error: function () {
					// show an error message
					alert("Unsuccessful");
				}
			});
		}