extends partials/_layout.pug

block meta


	+seo(
	/* Title */
	"Nick Adams Portfolio | Web and Software Developer", 
	/* Description */
	"Nick Adams is a web and software developer with loads of experience in  front-end and back-end web development, programming, SEO, Accessibility user interface design, hosting, and more.",
	/* Keywords */
	"Nick Adams, Portfolio, Web development, Software development, PHP, Python, Bash, HTML, CSS, Javascript")

block css
	link(rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css")
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12/dist/css/tabby-ui.css")

block content
	p I'm a web and software developer living in the Boise area in Idaho. I pride myself on my ability to learn rapidly. My professional and personal experiences have exposed me to many branches of the industry.

	hr

	p
		ul.line-height-2x.boxed

			li Worked as a team-lead for a web design team, ranging from back-end web tech and deployment solutions to front-end UI and design. My responsibilities also included setting goals for the department and products I built. Guiding and mentoring a team to meet those goals. Worked with managers to improve and automate processes.

			li Worked on debugging, resolving issues, and automating build and deployment processes for Android Apps written in Java.

			li Worked with Java, Python, PHP, Bash, and other programming languages to solve work and school related problems.

			li Worked with multiple businesses to improve technical and non-technical Search Engine Optimization (SEO).

			li Quickly resolved accessibility issues for hundreds of client websites meeting compliance with ADA and WCAG.

	.space

	.testimonials.owl-carousel.owl-theme
		blockquote.testimonial Lorem ipsum.
			.name John Doe | Position
			.optional website, twitter handle, whatever
		blockquote.testimonial Lorem ipsum.
			.name Jane Doe | Position
			.optional website, twitter handle, whatever
		blockquote.testimonial Lorem ipsum.
			.name John Doe | Position
			.optional website, twitter handle, whatever

	.space

	.blocks
		+clientBlock(
			/* Button Label */   "See web design work with United Poles Federal credit union.",
			/* Element Id */     "unitedpoles",
			/* Image Path */     "/images/clients/logos/unitedpoles-logo.png",
			/* Image Alt Text */ "United Poles logo"
		)
		+clientBlock(
			"See web design work with People's Advantage",
			"peoplesadvantage",
			"/images/clients/logos/peoplesadvantage-logo.png",
			"People's Advantage logo"
		)
		+clientBlock(
			"See web development work with HomeCU",
			"homecu",
			"/images/clients/logos/homecu-logo.png",
			"HomeCU logo"
		)

block modals
	+alertContent(
		/* Element Id */         "unitedpoles", 
		/* Mobile Image Path */  "/images/clients/screenshots/unitedpoles-mobile.png",
		/* Mobile Alt Text */    "United Poles mobile web design", 
		/* Desktop Image Path */ "/images/clients/screenshots/unitedpoles-desktop.png",
		/* Desktop Alt Text */   "United Poles Federal Credit union desktop web design"
	)


	+alertContent(
		"peoplesadvantage",
		"/images/clients/screenshots/peoplesadvantage-mobile.png",
		"People's Advantage mobile web design",
		"/images/clients/screenshots/peoplesadvantage-desktop.png",
		"People's Advantage desktop web design"
	)
		p When a client came to HomeCU with an already complete graphic design of a new website, I was trusted to make it happen. It was HomeCU's biggest website project with multiple landing pages and complex components. 
	+alertContent(
		"homecu",
		"/images/clients/screenshots/homecu-mobile.png",
		"HomeCU new mobile secure loan application web development",
		"/images/clients/screenshots/homecu-desktop.png",
		"HomeCU desktop credit union loan application form"
	)
		p Rebuilt the secure form product resulting in 
		ul
			li A major increase in developer turn-around time
			li Major improvements to implementations of features
			li New features with focus on developer experience
			ul
				li Example: If then conditional logic in class lists to show and hide sections based off form field values.
			li Multiple templates to the most common forms requested
		p <a href="https://alpha.homecu.io/fi/homecudemo/secure-forms-4/tmpl-loan-application.html" target="_blank" >Demo Loan Application</a>

block scripts
	script(src="/node_modules/owl.carousel/dist/owl.carousel.min.js")
	script(src="/node_modules/tabbyjs/dist/js/tabby.min.js")
	// script(src="/node_modules/tabbyjs/dist/js/tabby.polyfills.min.js")
	script.
		$(document).ready(function(){
			$('.owl-carousel').owlCarousel({
				autoplay:true,
				autoplayTimeout:7000,
				autoplayHoverPause:true,
				center: true,
				loop:true,
				dots:false,
				items: 1,
				responsive : {
					0 : {
						stagePadding: 0,
						margin: 0,
					},
					568 : {
						stagePadding: 100,
						margin: 60,
					}
				}
			});
		});
		document.querySelectorAll("[data-tabs]").forEach(function(modal) {
			var tabs = new Tabby("#" + modal.id);
		});