extends _partials/_layout.pug

block meta


	+seo(
	/* Title */
	"Nick Adams Portfolio | Web and Software Developer", 
	/* Description */
	"Nick Adams is a web and software developer with loads of experience in  front-end and back-end web development, programming, SEO, Accessibility user interface design, hosting, and more.",
	/* Keywords */
	"Nick Adams, Portfolio, Web development, Software development, PHP, Python, Bash, HTML, CSS, Javascript")


block content
	p I'm a web and software developer living in the Boise area in Idaho. My professional and personal experiences have taken me all over.

	hr

	p
		ul.line-height-2x.boxed

			li Worked as a team-lead for a web design team, ranging from back-end web tech and deployment solutions to front-end UI and design. My responsibilities also included setting goals for the department and products I built. Guiding and mentoring a team to meet those goals. Worked with managers to improve and automate processes.

			li Worked on debugging, resolving issues, and automating build and deployment processes for Android Apps written in Java.

			li Worked with Java, Python, PHP, Bash, and other programming languages to solve work and school related problems.

			li Worked with multiple businesses to improve technical and non-technical Search Engine Optimization (SEO).

			li Quickly resolved accessibility issues for hundreds of client websites meeting compliance with ADA and WCAG.