extends _partials/_layout.pug

block meta


	+seo(
	/* Title */
	"Nick Adams Portfolio | Web and Software Developer", 
	/* Description */
	"Nick Adams is a web and software developer with loads of experience in  front-end and back-end web development, programming, SEO, Accessibility user interface design, hosting, and more.",
	/* Keywords */
	"Nick Adams, Portfolio, Web development, Software development, PHP, Python, Bash, HTML, CSS, Javascript")

block content

	h2 Resume
	#resume.side-bar

block scripts
	script.
		PDFObject.embed("#{resume}", "#resume");