extends _partials/_layout.pug

block meta


	+seo(
	/* Title */
	"Nick Adams Portfolio | Web and Software Developer", 
	/* Description */
	"Nick Adams is a web and software developer with loads of experience in  front-end and back-end web development, programming, SEO, Accessibility user interface design, hosting, and more.",
	/* Keywords */
	"Nick Adams, Portfolio, Web development, Software development, PHP, Python, Bash, HTML, CSS, Javascript")

block content
	h2 Bio

	p Web and Software Developer currently located in Boise, Idaho. Looking for remote work.
	p Experienced with front-end and back-end, automation scripts, SEO, and accessibility.

	h2 Resume

	<h3><span class="bold pink">Web Developer Team Lead + Android Developer</span> - <span class="purple italic">HomeCU</span></h3>

	p.bold Web Developer Team Lead Responsibilities

	ul
		li Provided direction on website development processes, project management, hiring, and client RFPs.
		li Provide assistance and mentorship to the web development team.
		li Designed and developed website templates.
		li Upgraded the teams technologies to improve turn-around time.
			ul
				li Templating in Pug
				li Sass
				li Wrote scripts to automate repetitive processes
				li Feed JSON into templates
		
		li Built company's custom web CMS product using CraftCMS
			ul
				li Researched and implemented cost-effective hosting and deployment solutions for the CMS.
				li Created an extensive number of features to meet all of HomeCU's client needs.
		
		li Developed improved secure form product that cut development time immensely and added new javascript functionality.
		li Helped interview, hire, and train 2 new web developers.
		li Wrote scripts to solve complex problems.
			ul
				li Example: Output a .csv of specific DNS information when given a list of input.
		
		li Heavily documented everything for an ease in onboarding employees.
		li Rapidly made more than one hundred innaccessible credit union websites compliant with ADA and WCAG.
		li Maintained hundreds of client websites, taking care of any client requests.

	h3.bold Android Developer Responsibilities

	ul
		li Built new variants of the app for new and existing clients.
		li Maintained batch updates using Fastlane's Ruby API.
		li Fixed and debugged issues in the existing apps.
		li Created Google Play Store entries for app releases.
		li Did all this while continuing to build new features to the web cms, and training the web team to take over my projects and the next years goals.




	h3
		<span class="bold pink">Web Developer / Media Management Contractor (Part-Time)</span> - <span class="purple italic">The Book Editor Show</span>

	ul
		li Rebuilt Wordpress site
		li Make technical SEO improvements
		li Build video thumbnails with Adobe Photoshop
		li Edit videos from the Podcast with Adobe Premeire






	h2 Tools and Languages

	ul
		li PHP
		li SQL
		li HTML5
		li CSS
		li SCSS
		li Pug
		li Javascript
		li Babel
		li Twig
		li Java
		li Python
		li CraftCMS
		li Git
		li Bash
		li Mac/Linux
		li jQuery
		li Composer



	h2 leadership



	h2 projects